.book_zeroism {
  .p-wrapper {
    margin-bottom: 45px!important;
    text-indent: unset!important;
  }

}

@media (min-width: $width-lg) {
  .book_zeroism {
    .p-wrapper {
      margin-bottom: 68px!important;
    }
  }
}
