:root {
  --link-text-color: rgba(26, 105, 118, 1);
  --link-underline-color: rgba(26, 105, 118, 0.4);

  --link-text-color-active: rgba(124, 89, 68, 1);
  --link-underline-color-active: rgba(124, 89, 68, 0.8);

  --link-text-color-hover: rgba(74, 93, 35, 1);
  --link-underline-color-hover: rgba(74, 93, 35, 0.4);

  --text-color: rgba(35, 38, 39, 1);
  --text-color-hover: rgba(35, 38, 39, 0.7);
}

body {
  font-family: $font-family-serif;
  color: var(--text-color);
}

@media (min-width: $width-sm) {
  body {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

@media (min-width: $width-lg) {
  body {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
}
