body {
  font-family: $font-family-serif;
  line-height: 1.5;
}

@media (min-width: $width-md) {
  body {
    font-size: $font-size-sm;
  }
}

@media (min-width: $width-lg) {
  body {
    font-size: $font-size-lg;
  }
}
