@font-face {
	font-family: 'PT Sans';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Bold-Italic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans Caption';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Caption-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Caption';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Caption-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Narrow-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url('~assets/fonts/PT-Sans/PT-Sans_Narrow-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('~assets/fonts/PT-Serif/PT-Serif_Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('~assets/fonts/PT-Serif/PT-Serif_Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: url('~assets/fonts/PT-Serif/PT-Serif_Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('~assets/fonts/PT-Serif/PT-Serif_Bold-Italic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif Caption';
	src: url('~assets/fonts/PT-Serif/PT-Serif_Caption-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif Caption';
	src: url('~assets/fonts/PT-Serif/PT-Serif_Caption-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
